@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");

.logo .dating {
  font-family: DynaPuff;
  font-size: 40px;
  font-weight: 600;
}
.logo2 .dating {
  font-family: DynaPuff;
  font-size: 40px;
  font-weight: 600;
}
.logo .web {
  font-family: DynaPuff;
  font-size: 40px;
  font-weight: 600;
}
.logo2 .web {
  font-family: DynaPuff;
  font-size: 40px;
  font-weight: 600;
}
.logo1 {
  display: flex;
  position: absolute;
  left: 1150px;
  top: 100px;
}
.logo2 {
  display: flex;
  position: absolute;
  left: 1150px;
  top: 40px;
}
.logo .logoIcon {
  color: red;
  width: 70px;
  height: 70px;
}
.logo2 .logoIcon {
  color: red;
  width: 70px;
  height: 70px;
}
.logo1 .dating {
  font-family: DynaPuff;
  font-size: 40px;
  font-weight: 600;
}
.logo1 .web {
  font-family: DynaPuff;
  font-size: 40px;
  font-weight: 600;
}

.logo1 .logoIcon {
  color: red;
  width: 70px;
  height: 70px;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, #e52e71, #ff8a00);
}

.slider-thumb::before {
  position: absolute;
  content: "";
  left: 10%;
  top: 10%;
  width: 1050px;
  height: 750px;
  background: #5f5670;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape1 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape1 5s linear infinite;
}
.slider-thumb1::before {
  position: absolute;
  content: "";
  left: 40%;
  top: 50%;
  width: 750px;
  height: 750px;
  background: #291d41;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: 1;
  -webkit-animation: sliderShape 3s linear infinite;
}
.slider-thumb2::before {
  position: absolute;
  content: "";
  left: 60%;
  top: 10%;
  width: 1000px;
  height: 850px;
  background: #2f175e;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape2 5s linear infinite;
  display: block;
  z-index: 1;
  -webkit-animation: sliderShape2 3s linear infinite;
}
.slider-thumb3::before {
  position: absolute;
  content: "";
  left: 40%;
  top: 10%;
  width: 500px;
  height: 550px;
  background: #8865cf;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape3 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape3 3s linear infinite;
}
/* .heart {
  width: 250px;
  height: 250px;
  background: purple;
  position: relative;
  top: 0px;
  left: 100px;
  transform: rotate(-45deg);
}
.heart::after {
  background: inherit;
  height: 250px;
  width: 250px;
  content: "";
  position: absolute;
  top: -50%;
  border-radius: 50%;
  left: 0;
}
.heart::before {
  background: inherit;
  height: 250px;
  width: 250px;
  content: "";
  position: absolute;
  top: 0%;
  right: -50%;
  border-radius: 50%;
} */
@keyframes sliderShape {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 10px, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    transform: translate3d(0, 20px, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}
@keyframes sliderShape3 {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 10px, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    transform: translate3d(0, 20px, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@keyframes sliderShape1 {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@keyframes sliderShape2 {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}
